<!DOCTYPE html>
<html lang="{{ lang|default("en") }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.png">

  <title>{% block title %}{{ page_title|default('Test') }}{% endblock %}</title>
  {% block include_css %}
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='code.js') }}"></script>
  {% block include_js %}
  {% endblock %}

{% block extramedia %}{% endblock %}

</head>
<body {% block body_id %}{% endblock %}>
<div id="wrap">


  {% block fullcontent %}

  <div class="container">
    {# Body #}
    {% block content %}{% endblock %}
  </div>
  {% endblock %}

</div> <!-- /wrap -->

</body>
</html>
