{% extends "base.html" %}
{% set page_title = 'Испытай себя' %}

{% block content %}
<h1>Привет!</h1>
<p>Я знаю, это несколько неожиданно, но... у меня есть к тебе предложение, от которого можно отказаться :)</p>
<p>А именно испытать двух наших лучших экстрасенсов</p>
<p>Ну что, попробуешь?</p>
<br>
<p>Правила просты: нужно просто загадать двузначное число, а наши экстрасенсы будут его угадывать</p>
<p>Когда загадаешь число, нажми на кнопку ниже</p>
<a href="/ready"><button>Кнопка для нажатия</button></a>

{% endblock %}
